*-Ex.R
*.Rproj
*.knit.md
*.utf8.md
*_cache/
.DS_Store
.RData
.Rapp.history
.Renviron
.Rhistory
.Rproj.user/
.Ruserdata
.httr-oauth
/*.Rcheck/
/.*tar.gz
/cache/
Notes.txt
config.log
config.status
docs
src/*.dll
src/*.o
src/*.so
vignettes/*.html
vignettes/*.pdf
