.Rhistory
.Rapp.history
.RData
.Ruserdata
config.log
config.status
*-Ex.R
/.*tar.gz
/*.Rcheck/
src/*.o
src/*.so
src/*.dll
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
Notes.txt
.Rproj.user/
docs
.DS_Store
